.body
{
   background-color: #00e676 ;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 180px;

}

.title
{
    font-size: 50px;
    font-weight: bold;
    color: #1e5631;
    text-align: center;
    margin-left: 380px;
   
}
.container2
{
    font-weight: bold;
    font-size: 25px;

}
.container2>a
{
    color:#666;
    margin-left: 100px;
    text-decoration: none;
    font-size: bold;
}
.container2 a:hover
{
    color: #219150;

}