* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}

.body {
  background: #f3fff3;
  overflow-x: hidden;
  margin-top: 50px;
}

/* HEADER */

.header {
  background: #2ecc71;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
}

.hero-text {
  max-width: 500px;
}

.hero-img {
  width: 380px;
  animation: float 4s infinite ease-in-out;
}

.title-zoom {
  font-size: 2.5rem;
  color: #27ae60;
  animation: zoom 0.9s ease-out;
}

.btn {
  padding: 12px 25px;
  border: none;
  color: #fff;
  background: #27ae60;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #1e8449;
  transform: scale(1.05);
}

/* FEATURES SECTION */

.features {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  padding: 0 20px;
}

.feature-card {
  background: white;
  border-radius: 15px;
  width: 28%;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.feature-card img {
  width: 80px;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* ANIMATIONS */

.fade-in {
  animation: fade 1.2s ease-in;
}

.slide-down {
  animation: slideDown 1.2s ease-out;
}

.slide-up {
  animation: slideUp 1.2s ease-out;
}

.pop {
  animation: popUp 1s ease-out;
}

.delay-1 { animation-delay: 0.3s; }
.delay-2 { animation-delay: 0.6s; }

.bounce {
  animation: bounce 3s infinite ease-in-out;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideDown {
  from { transform: translateY(-40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes popUp {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes zoom {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes bounce {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* FOOTER */

.footer {
  text-align: center;
  padding: 20px;
  background: #2ecc71;
  color: white;
  margin-top: 40px;
}
